{% extends 'main/layout.html' %}

{% block content %}
  <h1>Добро пожаловать на сайт {{caption}}!</h1>
  <h1>Это сайт урока DJ02-templates</h1>
  <p>Главная</p>
  <p>Добро пожаловать на наш сайт! <br>
    Здесь вы найдете полезную информацию и инструменты для работы с современными веб-технологиями. <br>
    Мы предлагаем простые и понятные руководства по разработке веб-приложений.<br>
    Присоединяйтесь к нашему сообществу, чтобы вместе создавать лучшее будущее. Ваш успех — наша цель!</p>
{% endblock %}

